@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Pepole</h1>
@foreach (var person in Model.Pepole)
{
    <div>
        <a asp-page="/sessions" asp-route-id="@person.Id">
            <div>
                <h3>@(person.FirstName + " " + person.LastName)</h3>
                <h4>@person.Email</h4>
            </div>
        </a>
    </div>
}